body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

p {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

img {
    display: block;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container-header {
    display: flex;
    align-items: center;
}

/* ==================== MENU ====================  */

.page-nav {
    display: flex;
    align-items: center;
    margin: auto;
}

.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo-color {
    color: #2e2f42;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.menu-address {
    font-style: normal;
    margin-left: auto;
    display: flex;
    gap: 40px
}

.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

/* ==================== HERO ==================== */

.order-service {
    background: #2e2f42;
    display: flex;
    padding: 188px 0;
}

.order-container {
    margin: 0 auto;
    padding-top: 68px;
    padding-bottom: 68px;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    padding-bottom: 48px;
    max-width: 496px;
}

.button-order-service {
    display: block;
    margin: auto auto;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    color: #fff;
}

.button-order-service:hover,
.button-order-service:focus {
    background-color: #404bbf;
}

/* ==================== BENEFITS BLOCK ==================== */

.benefits-block {}

.benefits-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    /* justify-content: space-between; */
    gap: 24px;
}

.benefits-item {
    width: calc((100% - 3 * 24px) / 4);
}

.benefits-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.benefits-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-right: 24px;
}

/* ==================== OUR TEAM ==================== */

.our-team-block {
    background: #f4f4fd;
}

.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.our-team-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.our-team-info {
    padding: 32px 0;
}

.our-team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.our-team-item {
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
}

.our-team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* ==================== OUR PORTFOLIO  ==================== */

.our-portfolio-block {}

.our-portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.our-portfolio-item {}

.our-portfolio-list-title {
    line-height: 1.2;
}

.our-portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ==================== FOOTER  ============== */

.footer-block {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-page-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}

.footer-logo-color {
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
    max-width: 264px;
}